<a href="https://colab.research.google.com/github/ajsmack/demo/blob/main/Resume_screnning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import docx2txt
import glob
 
text = []
for file in glob.glob('resume/*.docx'):
  word = docx2txt.process(file)
  text.append(word)

In [ ]:
# Python3 program to extract all the numbers from a string
import re
  
# Function to extract all the numbers from the given string
def getNumbers(str):
    array = re.findall(r'[0-9]\d{9}', str)
    return array

def getemail(str):
    match = re.findall('\S+@\S+', str) 
    return match


# Driver code
phone_number = []
email_address = []
for i in text:
  array = getNumbers(i)
  match = getemail(i)
  phone_number.append(*array)
  email_address.append(*match)

In [ ]:
import pandas as pd
data = pd.DataFrame(
    {'Phone_number': phone_number,
     'Email_address': email_address
    })

In [ ]:
data

  Phone_number          Email_address
0   8329918332  gargiudasi8@gmail.com
1   8793667269  sahareajay7@gmail.com

In [ ]:
category_lists

['data science',
 'machine learning engineer',
 'hr',
 'advocate',
 'arts',
 'web designing',
 'mechanical engineer',
 'sales',
 'health and fitness',
 'civil engineer',
 'java developer',
 'business analyst',
 'sap developer',
 'automation testing',
 'electrical engineering',
 'operations managerpython developer',
 'devops engineer',
 'network security engineer',
 'pmo',
 'database',
 'hadoop',
 'etl developer',
 'dotnet developer',
 'blockchain',
 'testing',
 'fresher']

In [ ]:
category_lists = ['Data Science','Machine Learning Engineer','HR','Advocate', 'Arts', 'Web Designing','Mechanical Engineer','Sales','Health and fitness','Civil Engineer',
 'Java Developer','Business Analyst','SAP Developer','Automation Testing','Electrical Engineering','Operations Manager' 'Python Developer','DevOps Engineer','Network Security Engineer',
 'PMO','Database','Hadoop','ETL Developer','DotNet Developer','Blockchain','Testing','Fresher']
category_list = [item.lower() for item in category_lists]

In [ ]:
category = list([category_list in text for category_list in category_lists])

In [ ]:
print(category)

[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]

In [ ]:
res = [i for i, val in enumerate(category) if val]

In [ ]:
res

[]

In [ ]:
selected_elements = []
for index in res:
  selected_elements.append(category_list[index])

In [ ]:
import pandas as pd
data = pd.DataFrame(
    {'Resume': text
    })

In [ ]:
import docx
def getText(filename):
  doc = docx.Document(filename)
  fullText = []
  for para in doc.paragraphs.text:
    fullText.append(para)
  return '\n'.join(fullText)

In [ ]:
data

                                              Resume
0  Gargi Udasi\tContact. No: 8329918332\n\n\tMach...
1  RESUME\n\nAJAY SAHARE\t                       ...

In [ ]:
s = data.to_csv('data.csv')

In [ ]:
import docx
def getText(filename):
  doc = docx.Document(filename)
  fullText = []
  for para in doc.paragraphs:
    fullText.append(para.text)
  return '\n'.join(fullText)

In [ ]:
s

AttributeError: ignored